@import url('https://fonts.googleapis.com/css2?family=Jua&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Pixelify+Sans:wght@400..700&family=Rubik+Bubbles&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jua&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Pixelify+Sans:wght@400..700&family=Rubik+Bubbles&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

/* header */

:root {
    --base-color: #2d2d2d;
    --text-color: #ffffff;
    --primary-color: #ae854f;
    --secondary-color: #8D8DFF;
    --color-1: #1e1e1e;
    --color-2: #1b1b1b;
    --color-3: #F6F3F9;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family:'Nunito';
    color: var(--text-color);
    scroll-behavior: smooth;
}

body {
    padding: 1em;
    background-color: var(--base-color);
}

h1, h2, h3 {
    font-family:'rubik';
    margin-bottom: 1rem;
}

.h1-projects {
    font-family:'rubik';
    margin-top: 3rem;
    text-align: left;
    padding-left: 3em;
    padding-top: 1em;
}

h6 {
  font-size: 1.5rem;
}

p{
    font-size: 1em;
}

nav ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    gap: 2em;
    margin-bottom: 1.25rem;
}

nav li:first-child {
    margin-right:auto;
}

nav a {
    text-decoration: none;
    color: var(--text-color)
}

nav a:hover {
    text-decoration: underline;
}

header, section{
    margin: 2em auto;
    width: min(75em, 100%);
    background-color: var(--color-1);
    padding: min(2em,15%);
    border-radius: 1em; 
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 3em;
}

header img {
    max-width: 100%;
    border-radius: 1em;
    object-fit: cover;
    object-position: middle;
    max-width: 100%;
}

header p {
    margin-bottom: 1.25rem;
}

.text-container {
    flex: 0 1 27 em;
    font-size: 1.2rem;
}

.cta-button {
    display: inline-block;
    text-decoration: none;
    color: white;
    background-color: var(--primary-color);
    padding: .50em 1em;
    border-radius: .3em;
    font-weight: 600;
}

.cta-button:hover {
    display: inline-block;
    text-decoration: none;
    color: white;
    background-color: var(--primary-color);
    padding: .50em 1em;
    border-radius: .3em;
    font-weight: 600;
    text-decoration: underline;
}

/* projects */

.carousel {
    margin: 100px auto;
    width: 90%;
    display: flex;
    overflow-x: auto;
    margin-top: 0;
    padding-top: 0;
    overflow: hidden;
}

.carousel::-webkit-scrollbar {
    display: none;
}

.group{
    display: flex;
    align-items: center;
    justify-content: center;
    gap : 1em;
    animation: spin 9s infinite linear;
    padding-right: 1em;
}

.carousel:hover .group {
  animation-play-state: paused;
}

.card {
    flex: 0 0 8em;
    height: 7.5em;
    padding: .3em;
    background: var(--color-1);
    font-size: 3rem;
    border-radius: .2rem;
    text-align: center;
    align-content: center;
    border-radius: 1rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
}

.card:hover {
    flex: 0 0 9.3em;
    height: 7.5em;
    padding: .3em;
    background: var(--color-2);
    font-size: 3rem;
    border-radius: .2rem;
    text-align: center;
    align-content: center;
    border-radius: 1rem;
}

.card-image {
    height: 90%;
    width: 90%;
    object-fit: cover;
    display: block;
    border-radius: 1rem;
}

@keyframes spin {
    from {translate: 0;}
    to {translate: -100%}
}

/* tools */

body ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    gap: 2em;
    margin-bottom: 1.25rem;
    padding-left: 3em;
}

.tool-images {
    width: 6em;
}

.tool-images:hover {
    width: 7em;
}

.h1-tools {
    font-family:'rubik';
    margin-bottom: 1rem;
    margin-bottom: 0rem;
    text-align: left;
    padding-left: 3em;
}

/* footer */

footer p {
    text-align: center;
}